/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles

   Brand Color: #f24342
   Secondary Color: #58524d
   Highlights: #42f1f2
   ========================================================================== */

body, html {
  min-height: 100vh;
  display: grid;
  background: #382154;
  background: rgb(62,39,90);
  background: -moz-radial-gradient(circle, rgba(62,39,90,1) 0%, rgba(44,31,83,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(62,39,90,1) 0%, rgba(44,31,83,1) 100%);
  background: radial-gradient(circle, rgba(62,39,90,1) 0%, rgba(44,31,83,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e275a",endColorstr="#361f53",GradientType=1);
  margin: 0;
}
main {
  /* margin: 100px auto 0 0;
  display: grid;
  grid-template-rows: auto 25px auto 115px 115px 65px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-bottom: 20px;
  text-align: center;
}

.logo{

  margin: 20px auto 0;
  padding: 0;

  grid-row-start: 1;
  grid-row-end: 2;
  width: 15%;
}

h1 {
  font-family: interstate-condensed, sans-serif;
  font-weight: 800;
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
}

h2, h3, a, p, span {
  font-family: interstate, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 100;
  font-size: 38px;

  grid-row-start: 3;
  grid-row-end: 3;

}

h3 {
  font-weight: 900;
  font-size: 18px;
}

a, p {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  width: 60%;
  margin: 0 auto 20px;
}

p {
  color: white;
}

p.copy {
  font-size: .75rem;
  margin-top: 40px;
}

p.copy a {
  background: transparent;
  height: auto;
  width: auto;
  padding: 0;
  color: #EE41F8;
  display: inline;
  font-size: .75rem;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

canvas {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 0;
}

.mc-field-group {
  background: white;
  color: rgb(62,39,90);
  padding: 15px 20px;
  border-radius: 100px;
  margin-top: 50px;
  display: block;
  margin: 0 auto;
  font-family: interstate, sans-serif;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.mc-field-group input {
  height: 20px;
  font-family: interstate, sans-serif;
}

.mc-field-group input[type="email"] {
  flex-grow: 3;
  padding: .5rem .25rem;
  font-size: 1rem;
  border: none;
}

.mc-field-group input[type="submit"] {
  flex-shrink: 1;
  display: block;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;

}

#mc_embed_signup_scroll {
  /* display: flex;
  flex-direction: row; */
}

label[for="mce-EMAIL"]{
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: interstate, sans-serif;
  padding-bottom: 20px;
  display: block;
}

#subscribe-result {
  margin-top: 10px;
}

#training {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
}

#training .logo {
  width: 30%;
  margin: 0 0 80px 0;
}

#training h1, #training p {
  margin: 0;
  text-align: left;
}

#training h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 25px;
}

#training h1 ~ p {
  margin-bottom: 100px;
}

#training p {
  width: 85%;
}

#training section {
  flex: 1;
  /* height: 100vh; */
  /* min-height: 100vh; */
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 50px 2rem 20px;
  box-sizing: border-box;
}

#training section.training-description {
  background: white;
  border-radius: 15px;
  /* height: 99%; */
  margin-right: .5%;
  padding: 0 0 20px 0;
}

#training section.training-description p {
  color: #190E2B;
}

#training section.training-description p.fineprint {
  color: #6B6A67;
  font-size: .85rem;
  font-weight: 400;
  margin: 20px auto;
}

.cardcontent {
  width: 85%;
  margin: 0 auto;
  font-family: interstate-condensed, sans-serif;
  text-align: left;
}

.cardcontent h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  margin-bottom: 10px
}

.cardcontent h3 {
  margin-bottom: 10px;

}

.cardcontent ol {
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  display: block;
  list-style: none;
}

#lead-in span {
  background: #EE41F8;
  padding: 2px;
}

.logolink {
  background: none;
  padding: 0;
  display: block;
  text-align: left;
  margin: 0;
  width: 100%;
}

.payment {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0 0;
  border-top: 1px solid #FFB412;
}

.payment div {
  flex: 2;
  text-align: left;
}

.payment form {
  flex: 1
}

.payment h4 {
  font-family: interstate-condensed, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: #FFB412;
  color: black;
  font-family: interstate-condensed, sans-serif;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}

header div > div {
  margin-left: 10px;
}

#clock {
  display: flex;
  flex-direction: row;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 1050px) {

  main {
    position: relative;
  }

  #training {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }

  #training section.training-description {
    margin: 5px;
    /* height: auto; */
  }

  .cardcontent h2 {
    margin-top: 20px;
  }

}

@media only screen and (max-width: 830px) {
    /* Style adjustments for viewports that meet the condition */

}

@media only screen and (max-width: 600px) {
  main {
  }

}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
